section.genre-tab{
    width: 70vw;
    border: 1px solid #d175b7;
    height: auto;
    padding-bottom: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.2rem;
    overflow: hidden;
}



h4.game-head{
    color: white;
    text-align: center;
    margin-top: -0.01rem;
    font-size: 1.4rem;

}
section.game-sect-cards{
    width: 100%;
    height: 57vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(50, 1fr); 
    overflow: hidden;
    position: relative;
    overflow-x: auto;
    padding-bottom: 1rem;
}
section.game-card{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #131e38;
    width: 15rem;
    height: 25rem;
    display: grid;
    grid-template-rows: 15% 60% 5% 20%;
}

h5.game-card-head{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: -0.05rem;

}
img.game-card-img{
    display: block;
    width: auto;
    max-width: 10rem;
    height: auto;
    max-height: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.2rem;
}

section.comp-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: -1rem auto;
    width: 100%;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}


img.plat-logo{
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
}

img.not{
    opacity: 0.2;
}

.hide{
    opacity: 0;
    visibility: hidden;
    margin-left: 100rem;
}
section.game-sect-cards::-webkit-scrollbar {
    width: 10px; 
   
  }
  
  section.game-sect-cards::-webkit-scrollbar-track {
    background: #131e38;
  }
  
  section.game-sect-cards::-webkit-scrollbar-thumb {
    background: #FF6F61;;
  }
  
  section.game-sect-cards::-webkit-scrollbar-thumb:hover {
    background: #ff6e61c5; 
  }