section.rank-sect{
    width: 70vw;
    border: 1px solid #d175b7;
    height: auto;
    padding-bottom: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.2rem;
    overflow: hidden;
}

h3.subsect-head{
    color: white;
    margin-top: -0.2rem;
    font-size: 1.4rem;
}

img.logo{
    width: 1.5rem;
    margin-top: 0.5rem;
}

section.select-sect{
    display: grid;
    width: 30vw;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    margin-top: -1rem;
}

button.select-btn{
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    padding: 0.5rem;
    background-color: #d175b7;
    border: white 1px solid;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: -1rem;
}

button.select-btn:hover{
    cursor: pointer;
    background-color: #d175b783;
}

section.rankings-sect {
    width: 100%;
    height: 57vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    overflow: hidden;
    position: relative;
    overflow-x: auto;
    padding-bottom: 1rem;
  }
  

img.rank-img{
    display: block;
    width: auto;
    max-width: 12rem;
    margin-left: auto;
    margin-right: auto;
}

button.plat-name{
    display: block;
    color: black;
    font-size: 1.2rem;    
    margin-top: 0rem;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
}
button.plat-name:hover{
    cursor: pointer;
    color: #131e38;
    text-decoration: underline;
}
p.rank-txt{
    color: white;
    text-align: center;
    margin-top: -0.4rem;
}

p.price-txt{
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 0.8rem;
}
section.rank-child {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #131e38;
    padding: 0.3rem;
    position: relative;
    width: 13rem;
    display: grid;
    grid-template-rows: 6% 73% 10% 10%;
    transition: 0.3s ease-in;
  }
section.rank-child:hover{
    margin-left: 0.5rem;
    background-color: #d175b796;
    padding: 0.3rem;
    box-shadow: 2px 2px 2px 2px #764067a3;
}

section.rankings-sect::-webkit-scrollbar {
    width: 10px; 
   
  }
  
  section.rankings-sect::-webkit-scrollbar-track {
    background: #131e38;
  }
  
  section.rankings-sect::-webkit-scrollbar-thumb {
    background: #FF6F61;;
  }
  
  section.rankings-sect::-webkit-scrollbar-thumb:hover {
    background: #ff6e61c5; 
  }

  button.active-view{
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    padding: 0.5rem;
    background-color: #7c2965;
    border: white 1px solid;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: -1rem;
}
  
  /*    https://stackoverflow.com/questions/48960404/how-to-change-overflow-y-scrollbar-styles
        I used this to figure out how to style the overflow scroll bar
  */