@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.arcade-screen {
    position: relative;
}

.arcade {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -2.5rem;
}

/* https://www.shecodes.io/athena/7710-how-to-position-a-fixed-element-in-the-top-right-corner#:~:text=in%203.93%20seconds-,To%20position%20a%20fixed%20element%20in%20the%20top%20right%20corner,properties%20to%20adjust%20its%20position.&text=In%20this%20example%2C%20we've,of%20%22fixed%2Delement%22. */
.lives-sect {
    position: absolute;
    top: 46%; 
    left: 45%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 5rem; 
}
.life-info-sect {
    position: absolute;
    top: 47%; 
    left: 45%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 5rem; 
    font-family: "Pixelify Sans", sans-serif;
    color: red;
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in linear;
}

.heart {
    width: 1.5rem;
}

.score-sect{
    position: absolute;
    top: 44%; 
    left: 57.5%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 5rem; 
    color: white;
    font-family: "Pixelify Sans", sans-serif;
}
.score-info-sect{
    position: absolute;
    top: 46%; 
    left: 57.5%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 5rem; 
    color: rgb(0, 255, 0);
    font-family: "Pixelify Sans", sans-serif;
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in linear;

}

.prog-sect{
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 13rem; 
    background-color: black;
    border-radius: 0.5rem;
    height: 2rem;
}

.prog-bar{
    background-color: #FF6F61;
    color: #FF6F61;
    height: 100%;
    border-radius: 0.5rem;
    transition: 0.5s ease-out linear
}

.icon-sect{
    position: absolute;
    top: 50%; 
    left: 53%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 10rem; 
}

.warn{
    font-size: 1.1rem;
}

.icon-pause{
    color: white;
    font-size: 1.4rem;
}

button:disabled{
    color: black;
}


.timer-sect{
    position: absolute;
    top: 56%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.8rem;
}

.icon-sect{
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.8rem;
}

.answer-sect{
    position: absolute;
    top: 82%; 
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 4px;
    width: 25rem; 
    height: 6rem;
}

.ans-btn{
    height: 2rem;
    border-radius: 5rem;
    background-color: #c6c62d;
    font-size: 1.3rem;
    font-family: "Pixelify Sans", sans-serif;
}

.ans-btn:hover{
    background-color: #e7e73b82;
    cursor: pointer;
}

.hide{
    opacity: 0;
    visibility: hidden;
}
.correct{
    background-color: rgb(0, 255, 0);
}

.incorrect{
    background-color: rgb(243, 88, 88);
}

.start-sect{
    position: absolute;
    top: 44.5%; 
    left: 49.8%;
    transform: translateX(-50%);
}
.restart-sect{
    position: absolute;
    top: 79.5%; 
    left: 49.8%;
    transform: translateX(-50%);
}

.start-btn{
    height: 11rem;
    width:  15rem;
    background-color: #494949;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3rem;
    color: white;
    
}

.start-btn:hover{
    transition: 0.8s ease-out linear;
    background-color: #918d8d;
    cursor: pointer;
}

.restart-btn{
    height: 5rem;
    width:  15rem;
    background-color: #494949;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3rem;
    color: white;
}

.restart-btn:hover{
    transition: 0.8s ease-out linear;
    background-color: #918d8d;
    cursor: pointer;
}