main.about-main{
    background-color: #19284c;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    margin-top: -2rem;
    margin-bottom: 12rem;
}

h3.sub-sub{
    font-size: 2rem;
    color: #57e3d3;
    text-align: center;
    padding-top: 6rem;
}
h3.sub-two{
    font-size: 2rem;
    color: #57e3d3;
    text-align: center;
    padding-top: 1rem;
}

p.disc{
    margin-left: 20rem;
    margin-right: 20rem;
    color: white;
    text-align: justify;
}

.highlight{
    color: #57e3d3;
    font-weight: bold;
}

.disc-centre{
    text-align: center;
    color: white;
}

body, html {
    background-color: #19284c;
    margin: 0;
    height: 100%;
}

.cv-link{
    color: white;
    padding-bottom: 2rem;
    margin-left: 46.5%;
    margin-right: auto;
    margin-bottom: 2rem;
}

.dl-img{
    width: 1rem;
}